<app-header></app-header>
<div class="filter-component">
    <input type="text" placeholder="Search..." />
    <select name="filterCategory" id="filterCategory">
      <option value="">Select Category</option>
      <option value="Food">Food</option>
      <option value="Cloth">Cloth</option>
    </select>
    <select name="sortPrice" id="sortPrice">
      <option value="">Select Price Sort</option>
      <option value="Low-to-High">Low to High</option>
      <option value="High-to-Low">High to Low</option>
    </select>
  </div>